.banner {
    position: relative;
    margin-top: -12px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: - 6rem;
    margin-right: - 6rem;

    @media screen and (max-width: 425px) {
        margin-left: - 2rem;
        margin-right: - 1.5rem;
        margin-bottom: 20px;
    }

    @media (min-width: 426px) and (max-width: 768px) {
        margin-left: - 3rem;
        margin-right: - 3rem;
    }

    img {
        width: 100%;
    }

    .animation {
        position: absolute;
        max-width: 28%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    .banner-image {
        @media screen and (max-width: 425px) {
            display: none;
        }
    }

    .banner-image-mobile {
        @media screen and (min-width: 426px) {
            display: none;
        }
    }
}