<footer class="footer">
    <div class="contact container-fluid">
      <div class="company">
        <span>Connect with us</span>
        <div class="icon-container">
          <a class="company-link" href="https://www.facebook.com/lionmartasiafoods">
            <mat-icon class="icon">facebook</mat-icon>
          </a>
          <a class="company-link" href="https://www.instagram.com/kkypinsights">
            <img class="icon" [src]="instagram">
          </a>
        </div>
      </div>
      <div class="retail">
        <span>For retail, visit</span>
        <a class="retail-link" href="https://www.facebook.com/lionmartasiafoods">
          Lion Mart
          <mat-icon>facebook</mat-icon>
        </a>
      </div>
    </div>
    
    <div>
      Stock images by <a class="no-decoration" href="https://www.freepik.com/free-vector/flat-design-food-allergy-set_28343827.htm#&position=5&from_view=collections&uuid=e23cc7e3-06c2-4988-876b-39f2a465cbbc">Freepik</a>
    </div>
    <a style="text-decoration: none; color: black;"
    href="https://www.linkedin.com/in/kaung-kyaw-414116147">© 2024 Kaung Kyaw</a><br>
    <!-- change YiJu link later
    <span 
    style="color: gray; font-size: smaller;">
    Logo by <a style="text-decoration: none; color: black;" href="https://freeicons.io/profile/823">
      Yi Ju</a> on <a style="text-decoration: none; color: black;" href="https://freeicons.io">
        updatelink</a></span>  -->
</footer>