<footer class="footer">
    <div class="contact container-fluid">
      <div class="company">
        <span [innerHTML]="'Home.Footer.Contact' | translate"></span>
        <div class="icon-container">
          <a class="company-link" href="https://www.facebook.com/kksweetsjp">
            <mat-icon class="icon">facebook</mat-icon>
          </a>
          <a class="company-link" href="https://www.instagram.com/kkypinsights">
            <img class="icon" [src]="instagram">
          </a>
        </div>
      </div>
      <div class="retail">
        <span [innerHTML]="'Home.Footer.Retail' | translate"></span>  <!--to-do: add jp version-->
        <a class="retail-link" href="https://www.facebook.com/lionmartasiafoods">
          Lion Mart
            <img class="icon" [src]="lionMart">
        </a>
      </div>
    </div>
    
    <div class="attribute">
      <a class="no-decoration" href="https://www.instagram.com/ris.h.murmurs?igsh=dnlyeG93NXM1bHZ6">
        <span class="text">Logo courtesy of Ris.H</span>
        <img class="icon" [src]="instagram">
      </a>
    </div>
    <a style="text-decoration: none; color: black;"
    href="https://www.linkedin.com/in/kaung-kyaw-414116147">© 2024 Kaung Kyaw</a>
    <span style="color: gray; font-size: smaller;"> v1.0</span> 

</footer>