.navbar {
    margin-bottom: 12px;
    background-color: #FAEEA1;
    // background-color: #FAEB94;
    // background-color: #F9E780;
    
    .container-fluid {
        --bs-gutter-x: 12rem;

        @media screen and (max-width: 425px) {
            --bs-gutter-x: 3rem;
        }

        @media (min-width: 426px) and (max-width: 768px) {
            --bs-gutter-x: 6rem;
        }
    }

    .favicon {
        width: 40px;
    }
}

.nav-item{
    text-align: right;
}

.language-switcher {
    margin-right: 8px;

    &-button {
        margin-right: 4px;
    }

    .fi {
        margin-right: 8px;
   
    }
}

.avatar {
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}

.dropdown {
    .dropdown-toggle {
        cursor: pointer;
    }

    .dropdown-menu.show {
        &.dropdown-menu-logout{
            margin-top: revert;
            transform: translateX(-5%);
            min-width: auto;
        }

        &.dropdown-menu-language, &.dropdown-menu-language-mobile{
            min-width: auto;
        }
    }

    .navbar-collapse {
        padding-right: 1.5rem;
    }
}

.nav-link::marker {
    display: none;
}