.container {
    margin-top: 40px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    .image-container {
        min-width: 50%;
        width: 50%;
        margin-right: 40px;

        @media screen and (max-width: 768px) {
            min-width: unset;
            width: 100%;
            margin-bottom: 20px;
        }

        .img-top {
            width: 100%;
            border-radius: 20px;
        }
    }

    .details-container {
        .title {
            font-size: 26px;
            font-weight: 700;
            line-height: 1.5;
        }

        .price-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 60px;

            .price{
                margin-right: 10px;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.04em;
            }
        }

        .description {
            font-size: 20px;
            line-height: 1.75;
            text-align: justify;
            text-justify: inter-word;
            margin-bottom: 60px;
        }

        .allergen-info-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .allergen-info-header {
                font-size: 20px;
                line-height: 1.5;
                font-weight: 500;
                margin-bottom: 20px;

                @media screen and (max-width: 425px) {
                    font-size: 14px;
                    margin-bottom: 16px;
                }
            }
            
            .allergen-info-icon-wrapper {
                $pc-gap: 10px;
                gap: $pc-gap;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                &-container {
                    position: relative;
                }
                
                .allergen-info-icon {
                    width: 40px;
                }

                .allergen-info-text {
                    position: absolute;
                    display: flex;
                    top: calc(100% + 10px);
                    left: 0;
                    width: max-content;
                    height: 20px;
                    align-items: center;
                    border-radius: 6px;
                    padding: 16px 12px;
                    line-height: 20px;
                    font-size: 13px;
                    font-weight: 400;
                    background-color: #eaeadc;
                    box-shadow: 0 3px 6px #bababa29;
                    z-index: 1;
                    opacity: 0;
                    transition: opacity .2s ease-out;
                    pointer-events: none;
                }

                .allergen-info-icon-wrapper-container:hover .allergen-info-text {
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 425px) {
            .title {
                font-size: 22px;
            }

            .price-container {
                margin-bottom: 40px;
            }

            .description {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}