<div class="product-filter">
    <div ngbDropdown class="nav-link dropdown language-switcher">
        <button
            ngbDropdownToggle
            id="productCategory"
            class="btn btn-outline-secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ category ? category : 'Select Category' }}
        </button>
        <div>
            <ul ngbDropdownMenu="productCategory" class="dropdown dropdown-menu dropdown-menu-category">
                <li>
                    <a
                        routerLink="/"
                        [queryParams]=""
                        class="dropdown-item"
                        [class.active]=""
                    >
                        All
                    </a>
                </li>
                <li *ngFor="let c of categories$ | async">
                    <a
                        routerLink="/"
                        [queryParams]="{ category: c.key }"
                        class="dropdown-item"
                        [class.active]="category === c.key"
                    >
                        {{ c.name }}
                    </a>
                </li>
            </ul>
        </div> 
    </div>
</div>
