#imageInput {
    color: transparent;
}

.form-group {
    margin-bottom: 12px;

    --mdc-filled-text-field-container-color: var(--bs-body-bg);
    
    // .mat-mdc-text-field-wrapper {
    //     background-color: var(--bs-body-bg) !important;
    //     background-clip: padding-box;
    //     border: var(--bs-border-width) solid var(--bs-border-color);
    //     border-radius: var(--bs-border-radius);
    // }

    .mat-mdc-form-field {
        width: 100%;
    }
}

label {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: Roboto, sans-serif;
    margin-bottom: 4px;
}

.input-form {
    margin-top: 4px;
}

.image-upload-container, .image-input {
    max-width: 150px;  
}

.btn-bottom {
    margin-top: 6px;
    margin-bottom: 12px;
    margin-right: 20px;
}

.req {
    color: red;
}